<!DOCTYPE html>
<html>
    <head>
        <title>About Us </title>
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
                <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
                <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
                <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
          
            <style>
              body {
                  background-image: url("images/upperline-pic-city.jpg");
                  background-repeat: no-repeat;
                  background-size:100%;
              }
              h4 {
                  color: black;
                  font-family: 'Saira Semi Condensed', sans-serif ;
              }
              p {
                  color: black;
              }
              
              h5 {
                  font-family: 'Orbitron', sans-serif;
              }
            </style>
    </head>
    <body>
                <nav class="white" role="navigation">
            <div class="nav-wrapper container">
              <a id="logo-container" href="/" class="brand-logo">Moodify</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#"></a></li>
              </ul>
        
              <ul id="nav-mobile" class="side-nav">
                <li><a href="#"></a></li>
              </ul>
              <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>
          

          
          <div class="container center">
             <h4>About Us</h4>
          <p>Syndra Kydd-Hardy and Ekaterina Skorniakova</p>
          <p>Created this website for your personal musical enjoyment.</p>
          
          <h5>Make your Mood</h5>

          
          
                

    </body>
</html>